.App {
  text-align: center;
}
h4{
  font-size: larger;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-weight: normal;
}
h3{
  color: darkblue;
  font-size: medium;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-weight: normal;
  text-decoration: darkblue;
}
p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
 font-weight: none;
}